@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}
.panel {
  -webkit-box-shadow: 4px 5px 29px 2px rgba(134, 217, 243, 1);
  -moz-box-shadow: 4px 5px 29px 2px rgba(134, 217, 243, 1);
  box-shadow: 4px 5px 29px 2px rgba(134, 217, 243, 1);
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 300px;
}
#reset {
  grid-column: span 2;
}
.display {
  border-bottom: 1px solid white;
  width: 100%;
  grid-column: span 2;
  height: 54px;
  margin-bottom: 5px;
  font-size: 47.5px;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
}
button {
  padding: 12px;
  background: none;
  color: white;
  border: 2px solid white;
  margin: 2px;
  border-radius: 10px;
  font-size: 1.4em;
}
button:hover {
  background: rgba(128, 128, 128, 0.4);
}
button:active {
  border: 2px solid palegoldenrod;
}
